* { box-sizing: border-box; }

/*I modified the linear-gradient function to control opacity of the background*/
/*This section modifies the parts inside the body tag*/
body {
    
    color: antiquewhite;
    font-family: "Arial";
    background: linear-gradient(rgba(0, 0, 0, .65), rgba(0, 0, 0, .65)), url("../images/splatter.jpg");
    
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
}

/* These couple of statements affect headers*/
h1 {
    
    overflow: hidden;
    font-family: "Impact";
    
    font-size: 450%;
    background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url("../images/neonCity.jpg");
    background-repeat: no-repeat;
    
    background-size: 100%;
    padding-bottom: 1%;
    margin: -8px;
}  

h1 section{
    
    padding-right: 1%;
    text-align: right;
    
    font-size: 30%;
    float: right;
    display: block;
}

h2 { margin: 0% 0% 2% 5%; }

hr { margin-bottom: 8%; }


/*The statements regarding the mainMenu let the menu be responsive toward screen sizes*/
.mainMenu {
    
    margin: -8px;
    overflow: hidden;
    background-color: #444;
}

.mainMenu a {
    
    float: left;
    display: block;
    padding: 5px 16px 5px 5px;
    
    border-radius: 5px;
    width: 16.66%;
    border: 1px solid dimgrey;
    
    color: antiquewhite;
    text-align: center;
    text-decoration: none;
    font-size: 100%;
}

.mainMenu a:hover {
    
    color: skyblue;
    border-bottom-color: skyblue;
}

.mainMenu a.active {
    
    color: plum;
    border-bottom-color: plum;
}

.mainMenu .icon { display: none; }

main {
    max-width: 100%;
}


/*The row and columns help organize the page into section*/
.row {
    
    display: -webkit-flex;
    display: flex;
}

.column {   
    
    border: 1px solid dimgrey;
    background-color: #333;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    
    transition: .5s ease;
    height: 350px;
    border-radius: 15px;
    
    text-align: center;
    text-decoration: none;
    margin: 2% 5% 2% 5%;
    
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.column p {
    
    border-radius: 15px;
    background-image: linear-gradient(to top, rgba(255,0,0,0), black);
    float: center;
    
    overflow: hidden;
    color: antiquewhite;
    text-decoration: none;
    
    font-family: "Impact";
    height: 20%;
    margin: 0px;
    
    padding-bottom: 150px;
    bottom: 0;
    max-width:  100%;
    text-align: center;
}

.column:hover {
        
    transform: scale(1.1);
    font-size:120%
}


#banner {
    
    background-color: #333;
    color: antiquewhite;
    font-family: "Impact";
    
    font-size: 450%;
    opacity: 1;
    border-radius: 3px;
    
    border: 1px solid mediumorchid;
    height: 300px;
    padding: 50px;

    background-image: url("../images/greyCircuit.png");
    margin: 5% 15% 5% 15%;
    text-align: center;
}

#banner:hover { transform: none; }
#banner p {
    
    border-radius: 0px;
    padding: 0 0 15% 0;
    font-size: 50%;
    background-image: none; }

/*The statements just create the background of a few sections*/
#keanu { background-image: url("../images/keanuReeves.png"); }
#features { background-image: url("../images/forestLight.jpg"); }
#story { background-image: url("../images/book.png"); }
#community { background-image: url("../images/socialMedia.jpg"); }

footer {
    
    border: 1px solid plum ;
    display: block;
    background-color: black;
    
    margin: -8px;
    margin-top: 10%;
    padding: 5px 5px 5px 5px;
}

footer a { color: antiquewhite; }

#toTop {
    
    color: antiquewhite;
    float: right;
    text-decoration: none;
}